*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
        background-color: #f9f6f2;
}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

}
.card-body{
    padding: 25px;
    margin-top: -15px;
    
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
h3,h5{
    color: #181818;
}

.logo img {
    height: 50px;
    width: 50px;
    max-width: 100%;
    border-radius: 80px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.navbar-brand {
    font-family: "Playwrite CU", cursive;
    font-weight: bold;
    color: #AF6F14;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
    position: relative;
    opacity: 70%;
    font-size: 14px;
}

.dropdown-menu li a:hover {
    background-color: #AF6F14;
    color: #fff;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #bb7718;
    font-weight: 500;
    font-size: 14px;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1.5px;
    background-color: #AF6F14;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
    visibility: visible;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.contact-button {
    background-color: #AF6F14;
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 24px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    box-shadow: 5px 0 15px rgba(238, 105, 178, 0.1);
}

.contact-button:hover {
    background-color: #fff;
    color: #AF6F14;
    font-weight: 600;
}
